*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conatiner{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(120deg,#a8c0ff,#3f2b96); */
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    
    padding: 10px;
}

.head{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 800;
  
}


.col-8{
    width: 100%;
    /* max-width: 540px; */
    background-color: burlywood;

    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #f7aa57 100%);  */







    margin: auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    /* height: 80vh; */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,0.1) 42%, rgba(92,202,238,0.20) 93.6% ); */
    box-shadow: 1px 15px 51px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 15px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 15px 51px 0px rgba(0,0,0,0.75);
}

.create {
  width: 90%;
  padding: 20px;
  align-items: center;
}

.createtask{
  background-color: rgb(248, 160, 52);
  border-radius: 40px;
  margin:auto;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.2);

}

.cards{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.card{
  background-color: #F7CE68;
}

.but{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #b66311;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 5px 50px 10px rgba(0, 0, 0, 0.2);
}

.butcont{
  margin-left: 40vw;
}

.quote{
 padding-top: 95px;
 
 
}

.back{
  border: none;
  outline: none;
  padding: 1vh 1px;
  background: #453f3e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  width: 70%;
}


.delbut{
  cursor: pointer;
  
}